apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- manifests/pv.yaml
- manifests/pvc.yaml
- manifests/pingpong-deployment.yaml
- manifests/pingpong-service.yaml
- manifests/log-output-deployment.yaml
- manifests/log-output-service.yaml
- manifests/ingress.yaml

images:
- name: PROJECT/LOG-OUTPUT
  newName: ghcr.io/slikie/log-output
  newTag: 75a52c1d07563d4316d9799f57399fd713c2e0e1
- name: PROJECT/PING-PONG
  newName: ghcr.io/slikie/ping-pong
  newTag: de236d677b5a99bb23d0bee3acc10a4d39a0c5cf
- name: PROJECT/PROJECT-CURD
  newName: ghcr.io/slikie/project-curd
  newTag: de236d677b5a99bb23d0bee3acc10a4d39a0c5cf
