apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- manifests/deployment.yaml
- manifests/service.yaml
- manifests/ingress.yaml
images:
- name: PROJECT/IMAGE
  newName: ghcr.io/slikie/log-output
  newTag: ab086c2057157050f4e0d8bad07e157d03f205b7
