name: Build and Push Docker Images

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - '.github/**'

env:
  PROJECT1: log-output
  PROJECT2: project-curd

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push ${{ env.PROJECT1 }}
        uses: docker/build-push-action@v3
        with:
          context: src/${{ env.PROJECT1 }}
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/${{ env.PROJECT1 }}:${{ github.sha }}, ghcr.io/${{ github.repository_owner }}/${{ env.PROJECT1 }}:latest

      - name: Build and push ${{ env.PROJECT2 }}
        uses: docker/build-push-action@v3
        with:
          context: src/${{ env.PROJECT2 }}
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/${{ env.PROJECT2 }}:${{ github.sha }}, ghcr.io/${{ github.repository_owner }}/${{ env.PROJECT2 }}:latest

      - name: Set up Kustomize
        uses: imranismail/setup-kustomize@v2

      - name: Use right image
        shell: bash
        run: |
          cd src/${{ env.PROJECT1 }} && kustomize edit set image PROJECT/IMAGE=ghcr.io/${{ github.repository_owner }}/${{ env.PROJECT1 }}:${{ github.sha }} 

      - name: commit kustomization.yaml to GitHub
        uses: EndBug/add-and-commit@v9
        with:
          add: 'src/'
          message: "[bot] New version released ${{ github.sha }} for ArgoCD"
